body {
    margin: 0px;
    display: grid;
    grid-template-rows: 10% 10% 80%;

    height: 100vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {
    padding: 8px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#total {
    background-color: rgb(230, 230, 230);
    border: 1px solid silver;
    margin: 0px 8px;

    display: grid;
    place-items: center;

    font-size: 2.0rem;
    font-weight: 800;
}

main {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;

    button {
        border: solid 1px silver;
        padding: 8px;
    }

    button:hover {
        background-color: rgb(140, 165, 172);
    }

    .selecionado {
        background-color: red;
    }

    .selecionado:hover {
        background-color: red;
    }
}